.tokenomics-container {
  color: #ffffff;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  background-color: #0c141f;
}

.tokenomics-container h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.tokenomics-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.pie-chart-container {
  position: relative;
  flex: 1;
}

.pie-chart {
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.chart-label {
  position: absolute;
  font-size: 1rem;
  color: #ffffff;
}

.liquidity-pool {
  top: 90px;
  left: 10px;
}

.marketing {
  top: 330px;
  right: 10px;
}

.team {
  bottom: 80px;
  right: 28px;
  font-size: 20px;
}

.tokenomics-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}

.token-info, .distribution-info {
  margin-bottom: 20px;
  background-color: #08252a;
  width: 35vw;
  border-radius: 10px;
}

.token-info p, .distribution-info p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-left: 10px;
}

.token-info p,
.distribution-info p {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.token-info strong,
.distribution-info strong {
  width: 150px;
}

.token-info {
  margin-bottom: 20px;
}

button {
  background-color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

@media (max-width: 480px) {
  .tokenomics-container {
      padding: 10px;
  }

  .tokenomics-container h2 {
      font-size: 1.8rem;
      margin-bottom: 15px;
  }

  .tokenomics-content {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
  }

  .pie-chart-container {
      width: 100%;
      margin-bottom: 20px;
  }

  .pie-chart {
      width: 80%;
      margin: 0 auto;
  }

  .chart-label {
      font-size: 0.9rem;
  }

  .tokenomics-details {
      width: 100%;
      padding: 15px;
  }

  .token-info, .distribution-info {
      width: 100%;
      margin-bottom: 15px;
  }

  .token-info p, .distribution-info p {
      font-size: 1rem;
      width: auto;
      margin-left: 5px;
  }

  .token-info strong, .distribution-info strong {
      width: 45%;
  }

  button {
      font-size: 1rem;
      padding: 8px 15px;
  }
}
